{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4">Все доступные курсы</h2>
    
    {% if available_courses %}
        <div class="courses-grid">
            {% for course in available_courses %}
                <div class="course-card">
                    <h3>{{ course.title }}</h3>
                    <p>{{ course.description|truncatechars:100 }}</p>
                    <p>Преподаватель: {{ course.teacher.username }}</p>
                    <a href="{% url 'course_detail' course.id %}" class="btn-primary">Подробнее</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert text-center">
            <p>В данный момент доступных курсов нет.</p>
        </div>
    {% endif %}

</div>
{% endblock %}