{% load static %}
<html>
<head>
    <title>eLearning</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
</head>
<body>
    {% block extra_js %}
    {% endblock %}
    <header>
        <nav>
            <span class="logo" style="display:inline-block;position:absolute;font-size:28px;margin-left:20px;top:35px">eLearning</span>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>

                {% if user.is_authenticated %}
                    {% if user.is_student %}
                    <li><a href="{% url 'student_dashboard' %}">My Courses</a></li>
                    <li><a href="{% url 'all_courses' %}">All Courses</a></li>
                    {% elif user.is_teacher %}
                    <li><a href="{% url 'teacher_dashboard' %}">My Courses</a></li>
                    <li><a href="{% url 'create_course' %}">Create Course</a></li>
                    {% else %}
                    <li><a href="/admin/">Admin Panel</a></li>
                    <li><a href="/api/">API</a></li>
                    <li><a href="/docs">Documentation</a></li>
                    {% endif %}

                    <li><a href="{% url 'profile' %}">Profile</a></li>

                    <li>
                        <form id="logout-form" method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn-link">Logout</button>
                        </form>
                    </li>

                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'student_signup' %}">Student Registration</a></li>
                <li><a href="{% url 'teacher_signup' %}">Teacher Registration</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
